.main-container {
  padding: 0;
  max-width: 144rem;
  position: relative;
  @extend .row;
  margin: 0 auto;
}
.nav-wrapper {
  position: fixed;
  z-index: 100;
}
.section-wrapper {
  width: 100%;
}
.section-container {
  max-width: 93.1rem;
  margin: 0 auto;
}
.section-padding, .section-padding-low {
  padding: 2rem;
  overflow: hidden;
  margin-bottom: 5rem;
}
.section-padding-low {
  margin-bottom: 2rem;
}
.rounded-box {
  @include default-box-shadow();
}
@include media-breakpoint-down(md) {
  body {
    padding-top: 6rem;
  }
  .nav-wrapper {
    @include nav-top();
  }
}
@include media-breakpoint-up(lg) {
  .main-container {
    padding: 1rem 1rem 0 1rem+28.1rem;
  }
  .nav-wrapper {
    width: 28.1rem;
    padding-right: 20px;
    margin-left: -28.1rem;
    .nav {
      max-height: 99vh;
      overflow-y: auto;
    }
  }
  .rounded-box {
    @include default-border-radius();
  }
}
@include media-breakpoint-up(md) {
  .section-padding {
    padding-top: 7.3rem;
    padding-bottom: 7.3rem;
  }
  .section-padding-low {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
@include media-breakpoint-up(xl) {
  .main-container {
    padding: 4rem 4rem 0 4rem+28.1rem;
  }
}