/* Custom Mixins -------------------- */
@mixin prefix($declarations, $prefixes: ()) {
  @each $property, $value in $declarations {
    @each $prefix in $prefixes {
      #{'-' + $prefix + '-' + $property}: $value;
    }
    #{$property}: $value;
  }
}
@mixin d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
@mixin align-items($position) {
  -webkit-box-align: $position !important;
  -ms-flex-align: $position !important;
  align-items: $position !important;
}
@mixin justify-content($position) {
  -webkit-box-pack: $position !important;
  -ms-flex-pack: $position !important;
  justify-content: $position !important;
}
@mixin justify-content-between() {
  -webkit-box-pack: justify !important;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}

@mixin default-box-shadow() {
  @include prefix((box-shadow: 0 0 20px rgba(0,0,0,0.047)), webkit moz);
}
@mixin default-border-radius() {
  @include prefix((border-radius: 1rem), webkit moz);
}

@mixin nav-top() {
  $time: .3s;
  top: 0;
  left: 0;
  right: 0;
  height: 6rem;
  overflow: hidden;
  @include prefix((transition: $time, box-shadow: 0 5px 10px rgba(0,0,0,0.047)), webkit moz ms o);
  &.nav-opened {
    height: 100vh;
  }
  .nav-header {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    height: 6rem;
    z-index:2;
    position: relative;
    background: white;
    hr {
      display: none;
    }
  }
  .nav-body {
    height: 100vh;
    margin-top: -30px;
    padding-bottom: 20px;
    overflow: auto;
    position: relative;
    z-index: 1;
  }
  .nav-left-padding {
    padding-left: 3.4rem;
  }
  .nav-container {
    padding-left: 3.4rem;
    padding-right: 3.4rem;
  }
  .navigation-panel {
    li {
      margin-top: -10px;
      margin-bottom: -10px;
      transition: margin 300ms ease-in-out;
    }
    &>li>.nav-left-padding {
      font-size: 2.4rem;
      font-weight: 500;
      line-height: 2rem;
      padding-top: 0.6rem;
      padding-bottom: 0.6rem;
    }
    &>li.active>.nav-left-padding {
      background: none;
      &:before {
        background: none;
      }
    }
    .navigation-panel-child{
      margin-bottom: .5rem;
      &>li {
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
      &>li>.nav-left-padding {
        a {
          font-size: 1.44rem;
          color: black;
          font-weight: normal;
        }
      }
    }
  }
  .nav-open-toggle {
    display: block;
  }
}

@mixin typewriter-single($typing-duration: 3.5s steps(40, end), $blink-caret-duration: .75s step-end infinite) {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  //letter-spacing: .15em; /* Adjust as needed */
  animation:
          typing $typing-duration,
          blink-caret $blink-caret-duration;
}

@mixin steps-how-mobile() {
  display: block!important;
  .steps-how {
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    margin-bottom: 10rem;
    position: relative;
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 3px;
      height: 0;
      top: 100%;
      margin-top: -1rem;
      left: 2.4rem;
      background-image: linear-gradient($red 80%, rgba(255,255,255,0) 0%);
      background-position: top right;
      background-size: 3px 20px;
      background-repeat: repeat-y;
    }
    &:nth-child(4) {
      margin-bottom: 0;
      &:after {content: none}
    }
    .steps-how-container {
      width: auto;
      @include d-flex();
      @include align-items(center);
    }
    .steps-how-num {
      font-size: 3.6rem;
      width: 5rem;
    }
    .steps-how-circle {
      height: 16px;
      width: 16px;
      border-width: 2px;
    }
    .steps-how-title {
      margin-right: 2rem;
      margin-left: 2rem;
    }
  }
  .steps-how-path {
    display: none!important;
  }
  &.animation-start {
    $path-duration: .5s;
    $station-duration: .2s;
    .steps-how:nth-child(1) {
      animation: fadein $station-duration ease-in both;
      &:after {
        height: 11rem;
        transition: $path-duration $station-duration ease-in;
      }
    }
    .steps-how:nth-child(2) {
      animation: fadein $station-duration ($path-duration+$station-duration) ease-in both;
      &:after {
        height: 11rem;
        transition: $path-duration ($path-duration + $station-duration*2) ease-in;
      }
    }
    .steps-how:nth-child(3) {
      animation: fadein $station-duration (($path-duration + $station-duration)*2) ease-in both;
      &:after {
        height: 11rem;
        transition: $path-duration ($path-duration*2 + $station-duration*3) ease-in;
      }
    }
    .steps-how:nth-child(4) {
      animation: fadein $station-duration (($path-duration + $station-duration)*3) linear both;
    }
  }
}

@mixin tab-heading {
  @include d-flex();
  @include align-items(center);
  @include justify-content(center);
  font-weight: 500;
  .tab-icon {
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    img {
      margin-top: -5px;
    }
  }
}

@mixin tab-card-mobile() {
  @include default-box-shadow();
  @include default-border-radius();
  padding: 1rem 1rem 2rem 0;
  @include prefix((box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.047)), webkit moz);
  .tab-heading {
    margin: 2rem auto;
  }
  .tab-card-body {
    font-size: 1.2rem;
    @include d-flex();
    @include justify-content(center);
  }
}
@mixin tab-cards-wrapper-mobile() {
  margin-left: -2rem;
  margin-right: -2rem;
  position: relative;
  .tab-cards-container {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    overflow-x: auto;
    padding-left: 12.5vw;
    perspective: 900px;
    &:after {
      content: '';
      display: block;
      min-width: 9.5vw;
      min-height: 1px;
    }
    .tab-card {
      display: block;
      max-width: 71vw;
      flex: 0 0 71vw;
      margin: 1rem 2vw;
      position: relative;
      transform-origin: center;
      &.active {
        transform: scale(1);
      }
    }
  }
}