//Custom variables

// Descriptive color variables

// Functional color variables

// Font stacks

// Asset paths
$path-image : '../img';
$path-fonts : '../fonts';
$path-font-main: $path-fonts + '/Geometria/';
$pink: #F8BFC9;
$red: #F03354;
$red-second: #D0021B;
$extralightgray: #FBFBFB;
$lightergray: #F5F5F5;
$lightgray: #EFEFEF;
$lightgrey: #E4E4E4;
$mediumgrey: #A0A0A0;
$grey: #989898;
$mediumgray: #7E7E7E;
$gray: #676767;
$darkblue: #2C2C43;
$darkviolet: #202038;
$lightblack: #131720;
$yellow: #F5A623;
