.typewriter-single {
  @include typewriter-single();
}
.typewriter-effect.typewriter-typing, .typewriter-effect.typewriter-cursor-blink {
  &:after {
    content: '';
    display: inline-block;
    height: 10px;
    width: 2px;
    margin: 0 0 -3px 10px;
    background: $caret-color;
  }
}